.roboto-normal-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.header {
    background-image: url("Hero-bg.png");
    background-size: cover;
    background-position: top center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 100px;
}

.sign-btn {
    background-color: rgb(55, 55, 199);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: none;
    padding: 5%;
    height: 30px;
    width: 80px;
    text-align: center;
}

.nav-title {
    font-weight: 800;
}

nav ul li {
    list-style: none;

}

.banner-btn {
    background-color: rgb(55, 55, 199);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/
.banner {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    padding: 10px 20px;
}

/*.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: top center;
}
*/
.main {
    background-size: cover;
    background-position: top center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

/*.action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    gap: 20px;

}
*/

.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;

}

.action-text {
    padding: 0;
    margin: 0;
    text-align: left;

}

.action-btn {
    background-color: rgb(55, 55, 199);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.action-image {
    display: flex;
    border-radius: 8px;
    
}*/
.action-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    height: auto;
    display: block;
}

.box {
    width: 800px;
    height: 300px;
    border: none;
    background-color: rgb(208, 208, 239);
    padding: 50px;
    margin: 20px;
    border-radius: 20px;
}
.box {
    background-color: #f4f6ff;
    border-radius: 15px;
    padding: 40px 20px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.box h2 {
    font-weight: 600;
    margin-bottom: 30px;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 0;
    margin: 0;
}

.stats li {
    font-size: 4rem;
    color: #3d4fcf;
    font-weight: 700;
}
.label {
    font-size: 1rem;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
}
